<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	


    <display-name>WebDiligenciamientoMasivo</display-name>
    <module-name>WebDiligenciamientoMasivo</module-name>
    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.disableClientStateEncryption</param-name>
        <param-value>true</param-value>
    </context-param>

	<context-param>
        <param-name>com.sun.faces.injectionProvider</param-name>
        <param-value>com.sun.faces.vendor.WebContainerInjectionProvider</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
        	/WEB-INF/faces-config.xml,
            /WEB-INF/faces-config-beans.xml,
            /WEB-INF/faces-config-navegacion.xml,
            /WEB-INF/faces-internacionalizacion.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>dianweb</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
        <param-value>*.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.enableThreading</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.application</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>multipart</filter-name>
        <filter-class>
            co.gov.dian.muisca.arquitectura.general.web.multipart.DMultipartFiltro
        </filter-class>
    </filter>

    <filter>
        <filter-name>sesionFiltro</filter-name>
        <filter-class>
            co.gov.dian.muisca.arquitectura.general.web.sesion.DSesionFiltro
        </filter-class>
    </filter>

    <filter>
        <filter-name>singleSignFiltro</filter-name>
        <filter-class>
            co.gov.dian.muisca.arquitectura.general.web.singlesign.DSingleSignFiltro
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>singleSignFiltro</filter-name>
        <url-pattern>*.faces</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sesionFiltro</filter-name>
        <url-pattern>*.faces</url-pattern>
        <url-pattern>*.xhtml</url-pattern>        
    </filter-mapping>

    <filter-mapping>
        <filter-name>multipart</filter-name>
        <url-pattern>*.faces</url-pattern>
    </filter-mapping>
	
	<listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>  
    
    <listener>
        <listener-class>co.gov.dian.muisca.diligenciamientomasivo.web.servlets.DInicializadorDiligenciamientoMasivo</listener-class>
    </listener>

    <servlet>
        <servlet-name>servletFaces</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>
            net.sf.jasperreports.j2ee.servlets.ImageServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servletFaces</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servletFaces</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servletFaces</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servletFaces</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>